body {
    font-family: Arial, sans-serif;
}

h1 {
    background-color: black;

}

#subt {
    background-color: black;
}

.fondo {
    background-image: url('/assets/img/header_background.jpg');
    background-size:auto; /* Asegura que la imagen cubra todo el contenedor */ 
    background-position: center; /* Centra la imagen en el contenedor */ 
    background-repeat: no-repeat; /* Evita que la imagen se repita */ 
    height: 40vh; /* Asegura que el div ocupe toda la altura de la ventana */ 
    color: white; /* Color del texto para contraste */ 
    display:block; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

#mi_img {
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

#mi_img:hover {
    transform: rotate(360deg)
}

.card {
    margin-bottom: 20px;
}

#skills img {
    max-width: 100px;
    margin-bottom: 10px;
}

figure { 
    text-align: center; 
}

figcaption { 
    font-size: 0.9em; color: #555;
}

.zelda { 
    color: inherit; 
    text-decoration:none;  
    cursor: default;
    
}

.zelda:hover { 
    text-decoration: none;  
    cursor: pointer;
    color: inherit; 
}

.link-imagen {
    position: relative;
    display: inline-block;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5); 
}

.link-imagen:hover .overlay {
    opacity: 3; 
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
