body {
    font-family: Arial, sans-serif;
}

h1 {
    background-color: black;

}

#subt {
    background-color: black;
}

.fondo {
    background-image: url('../img/header_background.jpg');   /*indicamos la ruta de la imagen, solo funciona poniendo ../*/
    background-size:auto; /* Asegura que la imagen cubra todo el contenedor */ 
    background-position: center; /* Centra la imagen en el contenedor */ 
    background-repeat: no-repeat; /* Evita que la imagen se repita */ 
    height: 40vh; /* Asegura que el div ocupe toda la altura de la ventana */ 
    color: white; /* Color del texto para contraste */ 
    display: block; /* Par aque se muestre y comporte como bloque */
    justify-content: center; /*conteniddo al centro */
    align-items: center; /*Alineaddos al centro */
    text-align: center;  /*Texto  centrado*/
}

#mi_img {                       /* el ID asignado a la imagen del profe rosa  */
    border-radius: 50%;         /* Hacemos la imagen redonda*/
    transition: transform 0.5s ease-in-out;  /* Permite cambio de estado del elemento, indicando la velocidad del cambio y el paso a paso*/
}                                              /* partiendo lento, mas rapido a medio camino y terminando lento */

#mi_img:hover {         /* con hoover actiamos la acción al pasar el raton encima */
    transform: rotate(360deg)       /*girando 360°*/
}

.card {
    margin-bottom: 20px;    /*margen inferior de 20px*/
}

#skills img {
    max-width: 100px;
    margin-bottom: 10px;
}

figure { 
    text-align: center; 
}

figcaption { 
    font-size: 0.9em; color: #555;
}

.zelda {                /* clase para modificar los <a> */
    color: inherit; 
    text-decoration:none;  
    cursor: default;
    
}

.zelda:hover {              /* permite accion al pasar el raton sobre el <anchor>  */
    text-decoration: none;  /*con esto hacemos que el texto no cambie de color ni se subraye*/
    cursor: pointer;
    color: inherit; 
}

.link-imagen {
    position: relative;
    display: inline-block;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.overlay {              /*para poner el mensaje encimaa de la imagen-link*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5); 
}

.link-imagen:hover .overlay {       /*para poner el mensaje encimaa de la imagen-link*/
    opacity: 3; 
}

.text {                             /*para poner el mensaje encimaa de la imagen-link*/
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
